body {
  margin: 0;
 }

main {
  display: flex;
  background-color: #ddd;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#encryptation {
  position: absolute;
  width: 800px;
  height: 400px;
}

#output_default {
  box-sizing: border-box;
  font-size: 2em;
  width: 800px;
  height: 400px;
  padding: 50px;
  border-radius: 100px;
  background-color: #333;
  background-image: url('../img/ico_key.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  color: #0c3;
  font-weight: bold;
  box-shadow: 0em 0em 0.2em 0.05em #aaa;
  resize: none;
}

.btt_common {
  position: absolute;
  height: 100px;
  font-size: 2em;
  border-style: none;
  box-shadow: 0em 0em 0.2em 0.05em #888;
}

#btt_clean {
  top: -50px;
  left: 350px;
  width: 100px;
  border-radius: 50px;
  background-color: #fdd;
  background-image: url('../img/ico_clean.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#btt_clean:active {
  background-color: #f88;
  box-shadow: 0 0 0.3em 0.2em #f55a;
}

#btt_default {
  width: 300px;
  bottom: -50px;
  left: 250px;
  border-radius: 50px;
}

.btt_encrypt {
  background-color: #60dd60;
  color: #252;
}

.btt_encrypt:active {
  background-color: #80ff80;
  box-shadow: 0 0 0.3em 0.2em #5f5a;
}

.btt_decrypt {
  background-color: #fa0;
  color: #830;
}

.btt_decrypt:active {
  background-color: #fc0;
  box-shadow: 0 0 0.3em 0.2em #da0a;
}