body {
  margin: 0;
 }

main {
  display: flex;
  background-color: #ddd;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url('../img/page_background.jpg');
  background-position: center;
}